<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <!--发送人邮箱和密码-->
    <add key="EmailAcount" value="525685844"/>
    <add key="EmailPassword" value="tfofqzcmmpvrbhbe"/>
  </appSettings>
</configuration>