@{
    ViewBag.Title = "Details";
}

@model MVCDemo.ViewModels.SysUser


<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
    </tr>

    <tr>
        <td>
            @Html.DisplayFor(model => model.UserName)
        </td>

        <td>
            @Html.DisplayFor(model => model.Email)
        </td>
    </tr>


</table>